{% extends 'base.html' %}
{% block title %}{{ job['title'] }} | FMJ Trust Careers{% endblock %}
{% block content %}
<section class="page-hero"><div class="container"><h1 class="serif display-4">{{ job['title'] }}</h1><p class="lead">{{ job['location'] }}</p></div></section>
<section class="section-pad">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-7">
        <h2 class="serif">Responsibilities</h2>
        <ul>
          {% for item in job['responsibilities'].replace('\\n', '\n').split('\n') %}{% if item.strip() %}<li>{{ item }}</li>{% endif %}{% endfor %}
        </ul>
        <h2 class="serif mt-4">Requirements</h2>
        <ul>
          {% for item in job['requirements'].replace('\\n', '\n').split('\n') %}{% if item.strip() %}<li>{{ item }}</li>{% endif %}{% endfor %}
        </ul>
      </div>
      <div class="col-lg-5">{% include 'applicationform.html' %}</div>
    </div>
  </div>
</section>
{% endblock %}
